<!DOCTYPE html>
<html>
  <head>
    <title>404 Page Not Found</title>
  </head>
  <body style="background-color:#f7fbfd;">
  <h1 align="center">
    We're sorry, but the page you were looking for could not be found.<br>
    Please check the input passed or try navigating to a different page by clicking on Home.
  </h1>

<center><a href="https://edaa-134-74-251-203.ngrok-free.app/"><img src="/static/images/home.jpg" alt="home page" width="200" height="200" class="center"></a></center>

    <img src="/static/images/pagenf.png" alt="404 Page Not Found" style="display:block;margin:auto;width:50%;">
  </body>
</html>