footer{
    text-align: center;
}


.resize {
    padding-left: 25px;
    width: 200px;
    height: auto;
}

button{
    color: #70469a;
    background-color: white;
    border-color: white;
    border-radius: 10px;
    padding: 5px;
    font-family: "Gill Sans", sans-serif;
    font-size: 1em;
    width: 90px;
}

input {
    padding-left: 25px;
    border-color: white;
    padding: 5px;
    width: 400px;
    border-radius: 10px;
}


.headerlink {
    background-color: #70469a;
    font-family: "Gill Sans", sans-serif;
    color: white;
    padding: 5px;
    border-radius: 8px;
    
}


.container1 {
    padding-left: 25px;

}

.icons {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
}


.search-results {
word-wrap: break-word;
width: 1200px;
}

.avatar{
text-align: right;
border-radius: 8px;

}