.container {
    text-align: center;
    padding: 50px;
    padding-top: 320px;
}


footer{
    text-align: center;
}


header {
    text-align: right;
    padding-top: 25px;
    padding-right: 25px;
}

.resize {
    width: 350px;
    height: auto;
    padding-bottom: 40px;
}

button{
    color: #916ab9;
    background-color: white;
    border-color: white;
    border-radius: 20px;
    padding: 8px;
    font-family: "Gill Sans", sans-serif;
    font-size: 1em;
    width: 90px;
}

input {
    border-color: white;
    padding: 10px;
    width: 500px;
    border-radius: 20px;
}

html { 
    background: url(image1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


a {
    font-family: "Gill Sans", sans-serif;
    background-color: white;
    color: #916ab9;
    padding: 10px;
    border-radius: 10px;
}

.headerlink {
    font-family: "Gill Sans", sans-serif;
    background-color: white;
    color: #916ab9;
    padding: 8px;
    border-radius: 10px;
}

i {
    padding-left: 5px;
}